@model WebApplication3.Models.Marks

@{
    ViewData["Title"] = "Удаление марки";
}

<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-danger text-white">
            <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <h4 class="text-danger font-weight-bold">Вы уверены, что хотите удалить эту марку?</h4>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <dl class="row">
                        <dt class="col-sm-3 font-weight-bold">
                            @Html.DisplayNameFor(model => model.name_marka)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.name_marka)
                        </dd>
                    </dl>
                </div>
            </div>
            <form asp-action="Delete" class="mt-4">
                <input type="hidden" asp-for="id" />
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> Удалить
                </button>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Отмена
                </a>
            </form>
        </div>
    </div>
</div>